@import './base.css';
@import "tailwindcss";



a,
.green {
  text-decoration: none;
  color: rgb(39, 10, 91);
  transition: 0.4s;
  padding: 3px;
}

h2 {
  color: #FD7E14;
}

.active {
  color: #FD7E14;
  text-decoration: underline;

}

@media (hover: hover) {
  a:hover {
    background-color: hsla(25, 79%, 19%, 0.2);
  }

}